<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

			<img class = "thumbnail" src="{{ site.baseurl }}static/img/vroomio.png" height="200px", width="260px">
      <h5 class = "details">
      <strong><a href="http://vroomio.club">Vroomio </a></strong>
			A classic multiplayer game where you can live chat, video chat and play with other players built on Phaser and Express using Socket.IO, Node.js and HTML/CSS/JavaScript. 
		</h5>
		<hr>
		<h5>
			<img class = "thumbnail" src="{{ site.baseurl }}static/img/cato.png" height="200px", width="260px"><strong><a href="https://github.com/Harrykim/CatoPro">Cato Pro</a></strong>
		An app that enables users to request for a random fight and other users can accept the challenge. First implementation of Sinatra and built in 4 days.
		</h5>
		<hr>
    	<h5>
			<img class = "thumbnail" src="{{ site.baseurl }}static/img/pong.png" height="200px", width="260px"><strong><a href="https://dl.dropboxusercontent.com/s/jlsxjhm26g4b6aj/game.html?dl=0">Pong Game</a></strong>
			 A simple 1 player pong game.
		</h5>
		<hr>




    </div>
  </div>
</div>
</section>
